<a href="https://colab.research.google.com/github/sunema198/Listsofpeople/blob/new/TableAirlinescrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import urllib.request
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen

In [0]:
url = 'https://en.wikipedia.org/wiki/List_of_airline_codes'

In [0]:
html = urlopen(url)

In [0]:
soup = BeautifulSoup(html, 'html.parser')

In [0]:
my_table = soup.find_all('table')

In [0]:
iatas = []
icaos = []
airlines = []
countries = []

for table in my_table:
  rows = table.find_all('tr')

  for row in rows:
    cells = row.find_all('td')

    if len(cells) > 1:
      iata = cells[0]
      iatas.append(iata.text.strip())

      icao = cells[1]
      icaos.append(icao.text.strip())

      airline = cells[2]
      airlines.append(airline.text.strip())

      country = cells[4]
      countries.append(country.text.strip())

In [0]:
df1 = pd.DataFrame(iatas, index= airlines, columns = ['IATA'])
df1['ICAO'] = icaos
df1['Country/Region'] = countries

df1

                                              IATA ICAO Country/Region
34 Squadron, Royal Australian Air Force             EVY      Australia
135 Airways                                         GNL  United States
Amadeus IT Group S.A.                           1A  n/a         Global
Sabre travel network Asia-Pacific (ex-Abacus)   1B  n/a           APAC
Travelsky                                       1E  n/a          China
...                                            ...  ...            ...
Zhongyuan Aviation                                  CYN          China
Zip                                             3J  WZP         Canada
ZIPAIR Tokyo                                        TZT          Japan
Zoom Airlines                                   Z4  OOM         Canada
Zorex                                               ORZ          Spain

[6230 rows x 3 columns]

In [0]:
df1['IATA'].replace('', np.nan, inplace=True)
df1['ICAO'].replace(['n/a', ''], '', inplace=True)
df1

                                              IATA ICAO Country/Region
34 Squadron, Royal Australian Air Force        NaN  EVY      Australia
135 Airways                                    NaN  GNL  United States
Amadeus IT Group S.A.                           1A              Global
Sabre travel network Asia-Pacific (ex-Abacus)   1B                APAC
Travelsky                                       1E               China
...                                            ...  ...            ...
Zhongyuan Aviation                             NaN  CYN          China
Zip                                             3J  WZP         Canada
ZIPAIR Tokyo                                   NaN  TZT          Japan
Zoom Airlines                                   Z4  OOM         Canada
Zorex                                          NaN  ORZ          Spain

[6230 rows x 3 columns]

In [0]:
df1.dropna(subset=['IATA'], inplace=True)
print(df1)

                                              IATA ICAO Country/Region
Amadeus IT Group S.A.                           1A              Global
Sabre travel network Asia-Pacific (ex-Abacus)   1B                APAC
Travelsky                                       1E               China
Infini travel information, Inc.                 1F               Japan
Travelport (Galileo core)                       1G              Global
...                                            ...  ...            ...
Yuzhmashavia                                    2N  UMK        Ukraine
Zimex Aviation                                  C4  IMX    Switzerland
Zambian Airways                                 Q3  MBN         Zambia
Zip                                             3J  WZP         Canada
Zoom Airlines                                   Z4  OOM         Canada

[1379 rows x 3 columns]

In [0]:
df1.to_csv (r'airlines.csv', index = True, header=True) #Don't forget to add '.csv' at the end of the path

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive